{% extends 'base.html' %}
{% block content %}

<h1>About</h1>
<p class="lead mb-1">
    This website highlights all the different events I've been to. 
</p>
<p class="lead mb-4">
    Because tickets are digital, this is a virtual tracker.
</p>

<figure class="text-center">
    <blockquote class="blockquote">
        <p>Let's Go Mets!</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Thomas Pettersen
        <!-- <cite title="Source Title">Thomas Pettersen</cite> -->
    </figcaption>
  </figure>

{% endblock %}