{% extends 'base.html' %}
{% block content %}

<h1>{{ ticket.event }}</h1>

<div class="row">
    <div class="col">
        <div class="card text-dark bg-light mt-3 mb-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ ticket.event }}</h5>
                <p class="card-text">{{ ticket.description }}</p>
            </div>
            <ul class ="list-group list-group-flush">
                <li class="list-group-item">Date: {{ ticket.date }}</li>
                <li class="list-group-item">Venue: {{ ticket.location }}</li>
            </ul>
            <div class="card-body">
                <a href="{% url 'tickets_update' ticket.id %}" class="card-link">Edit</a>
                <a href="{% url 'tickets_delete' ticket.id %}" class="card-link">Delete</a>
              </div>
        </div>
        {% if ticket.comment_set.all %}
        <h4>Comments</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Comment</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in ticket.comment_set.all %}
                <tr>
                    <td>{{comment.author}}</td>
                    <td>{{comment.content}}</td>
                    <td>{{comment.date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    <div class="col mt-3">
        <h4 class>Add a Comment</h4>
        <div>
            <form action="{% url 'add_comment' ticket.id %}" method="POST">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" class="btn btn-primary btn-sm mb-3">Add Comment</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}