{% extends 'base.html' %}
{% block content %}

<h1>Ticket Collection</h1>

<div class="row">
    {% for ticket in tickets %}
    <div class="col col-lg-4">
        <div class="card text-dark bg-light mt-3" style="width: 18rem;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title">{{ ticket.event }}</h5>
                <p class="card-text">{{ ticket.description }}</p>
            </div>
            <ul class ="list-group list-group-flush">
                <li class="list-group-item">Date: {{ ticket.date }}</li>
                <li class="list-group-item">Venue: {{ ticket.location }}</li>
            </ul>
            <div class="card-body">
                <a href="{% url 'detail' ticket.id %}" class="btn btn-primary">Details</a>  
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}